
<router-outlet></router-outlet>

<footer class="section footer-classic context-dark bg-image mt-5 pt-5" style="background: #2d3246;">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light mb-3" src="../assets/fondo.jpg" alt="" width="64" height="64"></a>
            <p>Somos una fundación comprometida con el bienestar de todas las Mascotas. Creemos en un mundo mejor, donde todas las Mascotas que necesiten un hogar puedan tenerlo además del amor y cuidado que merecen. </p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>MascotaSoft</span><span>. </span><span>Todos los derechos reservados.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Encuentranos!</h5>
          <dl class="contact-list">
            <dt>Dirección:</dt>
            <dd>Ñuñoa City</dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd><a href="mailto:#">contacto@tumascota.cl</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>Telefono:</dt>
            <dd><a href="tel:#">+56 8698698659</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5>Secciones</h5>
          <ul class="nav-list">
            <li><a routerLink="inicio">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Mascotas</a></li>
            <li><a routerLink="registro">Registro</a></li>
          </ul>
        </div>
      </div>
      <div class="row text-center">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="col-md-12">
                  <ul class="social-network social-circle">
                      <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    </ul>               
      </div>
      </div>
    </div>
 
  </footer>
  